/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*========================================================= My Code ===========================================================*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

*{
    font-family: 'Mulish' 'Barlow' sans-serif;
    --black-color: rgb(0, 0, 0);
    --pink-color: rgb(250, 135, 155);
    --red-color: rgb(255, 0, 0);
    --tomato-color: rgb(255, 99, 71);
    --blue-color: rgb(33, 61, 126);
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .3s linear;
}

a h2{
    color: var(--red-color);
    font-size: 1.5rem;
    font-family: 'Barlow' sans-serif;
    font-weight: 700;
}





/*==================== NavBar =================*/

.navbar{
    box-shadow: 0px 6px 21px rgba(128, 128, 128, 0.549);
}



a h2:hover{
    color: var(--blue-color);
}

.navbar .navbar-nav .nav-link{
    font-size: 1.2rem;
    font-family: 'Mulish' sans-serif;
    text-decoration: none;
    font-weight: 500;
    transition: all .3 ease;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    color: var(--blue-color) !important;
}


.fa-bars{
    font-size: 1.3rem;
    color: var(--red-color);
    transition: all .3 ease;
}

.fa-bars:hover{
    color: var(--blue-color);
}


/*=============== Media Queries =================*/

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
    .navbar{
        width: 100vw;
    }

    .navbar .navbar-nav .nav-link{
        font-size: 1.2rem;
    }

    a h2{
        font-size: 1.5rem;
    }
    
 }

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) { 
    .navbar{
        width: 100vw;
    }

    .navbar .navbar-nav .nav-link{
        font-size: 1.6rem;
    }

    a h2{
        font-size: 2.2rem;
    }
    
 }

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) { 
    .navbar{
        width: 100vw;
    }

    .navbar .navbar-nav .nav-link{
        font-size: 2rem;
    }

    a h2{
        font-size: 2.7rem;
    }
 }




 /*========================================================= Home section Starts ===========================================================*/


.hero-content{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(135deg, rgba(255, 0, 0, 0.336), rgba(0, 0, 255, 0.429) ), url('.//20220906_150244.jpg');
    background-size: cover;
    background-position: center;

}

.hero-content h1{
    padding: 4px 4px;
    margin: 7px 7px;
    color: rgb(33, 61, 126);
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgba(18, 58, 59, 0.863);
    letter-spacing: 1px;
}

.hero-content h2{
    padding: 4px 4px;
    margin: 10px 10px;
    color: rgb(33, 61, 126);
    font-size: 1.4rem;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgba(18, 58, 59, 0.863);
    letter-spacing: 1px;
}

.hero-content button{
    margin-top: 32px;
    background: rgb(33, 61, 126);
    color: var(--black-color);
    height: 4rem;
    width: 7rem;
    font-size: 1.3rem;
    border-radius: 49%;
    font-weight: 700;
    border-color: var(--black-color);
    transition: all .3 ease;
}

.hero-content button:hover{
    background: #000;
    color:rgb(33, 61, 126);
    border-color: var(--black-color);
}




/*=============== Media Queries =================*/

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
   .hero-content h1{
    padding-top: 1.5rem;
        font-size: 2rem;
   }

   .hero-content h2{
    font-size: 1.9rem;
   }

   .hero-content button{
    font-size: 1.5rem;
   }
    
 }

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) { 
    .hero-content h1{
        font-size: 2.5rem;
   }

   .hero-content h2{
    font-size: 2.3rem;
   }

   .hero-content button{
    height: 6rem;
    width: 9rem;
    font-size: 1.9rem;
   }

 }

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) { 
    .hero-content h1{
        font-size: 3.5rem;
   }

   .hero-content h2{
    font-size: 3.2rem;
   }

   .hero-content button{
    height: 7rem;
    width: 10rem;
    font-size: 2.5rem;
   }
 }



/*========================================================= Home section Ends ===========================================================*/



/*========================================================= Services section Starts ===========================================================*/

#service h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    background: -webkit-linear-gradient(90deg, var(--blue-color), var(--red-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*side 1*/

.side-1{
    background: linear-gradient(90deg, var(--tomato-color), var(--blue-color));
}

.side-1 h2{
    color:rgb(33, 61, 126);
    font-weight: bolder;
    text-shadow: 1px 1px 1px var(--tomato-color);
    transition: all .3 ease;
}

.side-1 h2:hover{
    color: var(--red-color);
    text-shadow: 1px 1px 1px rgb(33, 61, 126);
}


.carousel-item img{
    height: 50%;
    width: 70%;
    object-fit: cover;
}

.carousel-item p{
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.336), rgba(0, 0, 255, 0.429) );
    color: var(--black-color);
    font-size: 1.1rem;
    font-weight: 700;
    margin: 2rem 0;
}

.carousel-item button{
    outline: none;
    border: none;
    height: 4rem;
    width: 8rem;
    border-radius: 45%;
    font-size: 1.2rem;
    color: var(--red-color);
    background: var(--black-color);
    font-weight: bold;
    font-family: 'Mulish' sans-serif;
    text-transform: capitalize;
    letter-spacing: .3rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;

}


.carousel-item button:hover{
    color: var(--black-color);
    background: var(--red-color);
}

.carousel-inner:hover{
    transform: scale(.9);
}


/*=============== Media Queries side 1 =================*/

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
    #service h1{
        font-size: 2.7rem;
    }

    .side-1 h2{
        font-size: 2.5rem;
    }

    .carousel-item img{
        width: 75%;
    }

    .carousel-item p{
        font-size: 1.5rem;
    }

    .carousel-item button{
        font-size: 2rem;
        height: 7rem;
        width: 8rem;
    }
     
  }
 
 
 /* Large devices (desktops, 992px and up)*/
 @media screen and (min-width: 992px) { 
    #service h1{
        font-size: 4rem;
    }

    .side-1 h2{
        font-size: 3rem;
    }

    .carousel-item img{
        width: 75%;
    }

    .carousel-item p{
        font-size: 1.5rem;
    }

    .carousel-item button{
        font-size: 2.2rem;
        height: 7rem;
        width: 11rem;
    }
  }
 
 

  /*side 2*/

.side-2{
    background: linear-gradient(90deg, var(--blue-color), var(--tomato-color));
}

.side-2 h2{
    color:rgb(33, 61, 126);
    font-weight: bolder;
    text-shadow: 1px 1px 1px var(--tomato-color);
    transition: all .3 ease;
}

.side-2 h2:hover{
    color: var(--red-color);
    text-shadow: 1px 1px 1px rgb(33, 61, 126);
}

.item-1:hover{
    transform: scale(.9);
}

.item-2:hover{
    transform: scale(.9);
}

.item-3:hover{
    transform: scale(.9);
}

.item-4:hover{
    transform: scale(.9);
}

.card-body h4{
    color: rgb(33, 61, 126);
    font-size: 1.5rem;
    font-weight: 700;
    transition: all .3 ease;
}

.card-body h4:hover{
    color: var(--red-color);
}

.card-body i{
    font-size: 2rem;
    margin: 1rem 0;
    color: red;
    transition: all .3 ease;
}

.card-body i:hover{
    color: var(--blue-color);
}

.card-body p{
    font-size: 1rem;
    color: var(--black-color);
    font-weight: bold;
    margin: .5rem 0;
}

.card-body button{
    outline: none;
    border: none;
    height: 3.5rem;
    width: 8rem;
    border-radius: 45%;
    font-size: 1rem;
    background: rgb(33, 61, 126);
    color: var(--black-color);
    font-weight: bold;
    font-family: 'Mulish' sans-serif;
    text-transform: capitalize;
    letter-spacing: .3rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all .3 ease;
}

.card-body button:hover{
    background: #000;
    color:rgb(33, 61, 126);
}


/*=============== Media Queries side 1 =================*/

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {

    .side-2 h2{
        font-size: 2.5rem;
    }

    .card-body h4{
        font-size: 1.7rem;
    }

    .card-body i{
        margin: .5rem 0;
    }

    .card-body p{
        font-size: 1.2rem;
        margin: .5rem 0;
    }


     
  }
 
 
 /* Large devices (desktops, 992px and up)*/
 @media screen and (min-width: 992px) { 

    .side-2 h2{
        font-size: 3rem;
    }

    .card-body h4{
        font-size: 1.7rem;
    }

    .card-body i{
        margin: 1.2rem 0;
    }


  }
 

/*========================================================= Services section Ends ===========================================================*/


/*========================================================= About section Starts ===========================================================*/

#about h2{
    margin-top: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    background: -webkit-linear-gradient(90deg, var(--blue-color), var(--red-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.s-1{
    background: linear-gradient(90deg, var(--tomato-color), var(--blue-color));
    
}

.s-1 p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-color);
    margin: 2rem 0;
    
}

.s-1 button{
    outline: none;
    border: none;
    height: 4rem;
    width: 14rem;
    border-radius: 45%;
    font-size: 1.5rem;
    background: rgb(33, 61, 126);
    color: var(--red-color);
    font-weight: bold;
    font-family: 'Mulish' sans-serif;
    text-transform: capitalize;
    letter-spacing: .3rem;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: all .3 ease;
    margin-bottom: 1rem;
}

.s-1 button:hover{
    background: var(--tomato-color);
    color: var(--blue-color);
}

.s-2{
    background: linear-gradient(90deg, var(--blue-color), var(--tomato-color));
    
}



/*=============== Media Queries =================*/

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
    
     
  }
 
 /* Medium devices (tablets, 768px and up)*/
 @media screen and (min-width: 768px) { 
    #about h2{
        font-size: 4rem;
    }

    .s-1 p{
        font-size: 1.3rem;
    }

    .s-1 button{
        height: 6rem;
        font-size: 1.7rem
    }   
 
  }
 
 /* Large devices (desktops, 992px and up)*/
 @media screen and (min-width: 992px) { 
    #about h2{
        font-size: 4rem;
    }

    .s-1 p{
        font-size: 2rem;
    }

    .s-1 button{
        height: 7rem;
        font-size: 2rem
    }
  }

/*========================================================= About section Ends ===========================================================*/


/*========================================================= Contact section Starts ===========================================================*/


#contact h1{
    margin-top: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    background: -webkit-linear-gradient(90deg, var(--blue-color), var(--red-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-class .bg-contact{
    height: 40vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 255, 0.466), rgba(255, 0, 0, 0.471)), url('.//Trap-Sheet-6.png');
    background-position: 200 200;
    background-size: cover;
    background-repeat: no-repeat;
}


.contact-content{
    margin-top: -20vh;
}

.contact-class form{
    background: #fff;
    padding: 100px;
}

.contact-class .contact-addr{
    background: linear-gradient(135deg, var(--red-color), var(--blue-color));
    padding: 90px;
    color: #fff;
}

.contact-class .btn{
    outline: none;
    border: none;
    height: 3rem;
    width: 7rem;
    font-size: 1.2rem;
    background: rgb(33, 61, 126);
    color: var(--red-color);
    font-weight: bold;
    font-family: 'Mulish' sans-serif;
    text-transform: capitalize;
    letter-spacing: .3rem;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: all .3 ease;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.contact-class .contact-addr p{
    color: #fff;
    margin: 21px 0;
}

.contact-class .social-icon{
    display: flex;
    color: var(--blue-color);
    margin-right: 1rem;
}

.contact-class .social-icon:hover{
    color: var(--tomato-color);
}
.contact-class .social-icon i{
    display: flex;
    font-size: 21px;
    width: 1%;
    margin-right: 1rem;
}

/*=============== Media Queries =================*/


/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) { 
    #contact h1{
        font-size: 2.5rem;
    }

    .contact-class .btn{
        height: 4rem;
        width: 8rem;
        font-size: 1.5rem;
    }

    .contact-class .contact-addr p{
        font-size: 1.2rem;
    }

}

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) { 
    #contact h1{
        font-size: 4rem;
    }
}

/*========================================================= Contact section Ends ===========================================================*/


